/* CSS RESET */
/* html, body, header, nav, h1, a,
ul, ol, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul, ol {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {

  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
} */

/* Styling */
body {
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

.larea h2 {
  font-family: 'Lato', sans-serif;
  padding: 42px 0 24px;
  font-size: 28px;
  line-height: 36px;
  margin-block-start: 0;
  margin-block-end: 0;
  color: #1d2129;
}

.rarea h2 {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  line-height: 120%;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 5px;
  color: #1d2129;
}

.header {
  display: absolute;
  top: 0px;
  height: 82px;
  width: 980px;
  color: white;
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  border-bottom: 1px solid #133783;
}

.headerRow {
  display: inline-flex;
  flex-direction: row;
}

.header img {
  width: 170px;
  height: 34px;
  margin-top: 28px;
}

.loginform {
  display: grid;
  grid-template-rows: 18px 1fr 25px;
  grid-template-columns: 150px 150px 50.47px;
  grid-column-gap: 12px;
  font-size: 12px;
  padding-top: 15px;
}

.space {
  width: 402px;
}

.loginform button {
  grid-row: 2/3;
  color: white;
  border-color: #29487d;
  background-color: #4267b2;
  font-weight: bold;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
  padding: 2px 6px;
}

div#eop, #pass {
  padding-left: 1px;
}

#emailbox {
  grid-row: 2/3;
  grid-column: 1/2;
  padding-top: 1px;
}

#password {
  grid-row: 2/3;
  grid-column: 2/3;
  padding-top: 1px;
}

.header input {
  border-color: #1d2a5b;
  border-width: 1px;
  width: 142px;
  height: 20px;
}

#forgot {
  grid-column: 2/3;
  color: #9cb4d8;
  font-weight: normal;
  padding-top: 5px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.signup {
  display: flex;
  flex-direction: row;
  background-color: #edf0f5;
  width: 980px;
  height: 583px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Left Area */
.larea {
  display: flex;
  flex-direction: column;
  margin-right: 15.999px;
}

.boxline {
  display: inline-flex;
  flex-direction: row;
  padding-bottom: 10px;
  margin-top: 14px;
}

.description {
  align-self: center;
  margin-left: 16px;
}

.icon img {
  width: 56px;
  height: 56px;
  vertical-align: middle;
}


span#ltext {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  line-height: 22px;
  color: #1d2129;
}

span#rtext {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #666;
  font-size: 15px;
  line-height: 20px;
  padding-left: 2px;
}

/* Right Area */
.rarea {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}

.forml {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.forml input {
  border-color: #bdc7d8;
  border-radius: 5px;
  margin: 0;
  border: 1px solid #bdc7d8;
  background: white;
  color: lightgrey;
  font-size: 18px;
  padding: 8px 10px;
  width: 375px;
}

.forml#first input {
  width: 171px;
}

.forml#first .lname input {
  margin-left: 11px;
}

.h3l h3 {
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 19px;
  margin-block-start: 0em;
}



.bday h3, .gender h3 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #1d2129;
  font-size: 18px;
  font-weight: normal;
  margin: 0px;
}

.bday h3 {
  margin-top: 15px;
  margin-bottom: 4px;
}

.bdaySelect {
  display: flex;
  flex-direction: row;
}

select {
  font-size: 13px;
  height: 30px;
  padding: 5px;
  border: 1px solid #bdc7d8;
  margin: 0em;
}

.disclaimer {
  width: 150px;
  margin-left: 10px;
}
.disclaimer a {
  font-size: 11px;
  margin-left: 0px;
  color: #365899;
  vertical-align: middle;
  line-height: 1.34px;
}

.gender {
  margin-top: 10px;
  margin-left: 1px;
  margin-bottom: 20px;
}

label {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #1d2129;
  font-size: 18px;
  font-weight: normal;
}

span.mem {
  margin-left: 15px;
}

p {
  color: #777;
  font-size: 11px;
  width: 316px;
  line-height: 1.34;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

p a {
  color: #365899;
}

.signupButton {
  margin-top: 20px;
  margin-bottom: 20px;
}
.signupButton button {
  font-family: 'Lato', sans-serif;
  font-size: 19px;
  color: white;
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  border-radius: 5px;
  min-width: 194px;
  padding: 7px 20px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.footer {
  width: 980px;
}
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}
